* {
    box-sizing: border-box;
}
/*baseline media sizing, mobile first */
.hidden {
    display: none;
    border: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;    
}

.flex-row-small {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.stack-items {
    margin-right: 5px;
   list-style: none;
   text-align: left;
}

.stack-form-items {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
   list-style: none;
   text-align: left;
   width: 200px;
}

.head-img {
    
    height: 300px;
    
    background: no-repeat url("images_naif/natureiphonetitle.png");
    background-size: contain;
}

header {
  font-family: 'Quicksand';
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  font-size: 22px;
  line-height: 30px;
  font-weight: bold; 
}

#NAIF-title {
  font-family: 'Amatic SC';
  font-size: 28px;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

body {
    font-size: 18px;
    color: black;
    list-style: none;
    margin: 15px;
    padding: 10px;
    /*margin-top: 275px;*/
   
}


#container {
    text-align: center;
    border-color: 0;
    width: 90%;
    padding-left: 50px;
    padding: 10px;
}


#second-container {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}


#locale-search {
    width: 80%;
    border:0; 
}

.searchForm {
    height: 200px;
    width: 300px;
}


#userInput {
    font-size: 20px;
    width: 10px;
}

legend {
    margin-left: auto;
    margin-right: auto;
}

#userStateSelection {
    margin-bottom: 10px;
    height: 150px;
    width: 150px;
}


#maxLimitInput{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 65px;
    padding-left: 10px;
    text-align: center;
    width: 100px;
    align-items: center;
}

button {
    font-family: 'Amatic SC';
    text-align: center;
    font-weight: lighter;
    font-stretch: extra-condensed;
    color: white;
    background-color: rgb(41, 41, 41);
    border-radius: 10px 10px 10px 10px; 
}


.initial-fieldset {
    border: 0;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    font-size: 50px;
     font-family: 'Amatic SC';
     font-weight: lighter;
     font-stretch: extra-condensed;
     padding-top: 0px;
 }

.initial-button {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    font-size: 40px;
}

.get-parks{
    margin-top:5px;
    font-size: 40px;
    width: 90%;
    height: 75px;

}

.discover-call-to-action{
    width: 75%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-left: 20px;
    font-size: 18px;
    line-height: 19px;
}

.indent {
    margin-left: 50px;
}

#coming-soon{
    font-size: 18px;
    line-height: 19px;
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    margin-left: auto;
    margin-right: auto;
    font-family: 'Quicksand';   
}


.searchForm-item
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #f1f1f1;
     color: #666;
     top: 10px;
     height: 30px;
     width: 30px;
     border: 0;
     border-radius: 50px;
     cursor: pointer;     
     margin-right: 7px;
     outline: none;
}

.searchForm-item:checked::before
{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
}
.searchForm-item:hover
{
     background-color: #f7f7f7;
}
.searchForm-item:checked
{
     background-color: #f1f1f1;
}

.weather-flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-color: #666;
    border: 1px;
    border-style: solid;

}

.weather-aside {
    width: 40%;
    padding-left: 10px;
    border: 2px;
    border-right-style: dashed;
    border-color: #666;
    background-color: rgba(120, 143, 148, 0.548);
    height: 66px;
  }


  .find-parks-layout{
    display: flex;
    flex-direction: column;
    margin-right: 5px;
   list-style: none;
   text-align: left;
   width: 200px;
}  

/*tablets*/
@media screen and (min-width: 550px) {
    .head-img {
       display: none;
    }

    body {
        background: no-repeat url("images_naif/naturelaptoptitle.png");
        background-size: contain;
        margin-top: 200px;
        margin-left: 90px;
        
    }


    #NAIF-title {
        font-family: 'Amatic SC';
        font-size: 40px;
        margin: 0px;
        padding: 0px;
        text-align: center;
      }

      header {
        font-family: 'Quicksand';
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 100px;
        font-size: 24px;
        line-height: 30px;
      }

    .searchForm {
        height: 200px;
        width: 90%;
    }

    #max{
        width: 200px;
    }

    #userStateSelection {
        margin-bottom: 10px;
        height: 150px;
        width: 250px;
    }

    #maxLimitInput{
        margin-top: 65px;
        padding-left: 10px;
        text-align: center;
    }

    .get-parks{
        margin-top:5px;
        font-size: 40px;
        width: 70px;
        height: 195px;
    
    }

    #second-container {
        width: 90%;
        padding-left: 50px;
        padding: 10px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    .discover-call-to-action{
        width: 75%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 10px;
        margin-left: 20px;
        font-size: 20px;
    }

    .initial-button {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 80px;
    }
    


}





/*desktop*/
@media screen and (min-width: 980px) {
    .head-img {
        display: none;
    }
    
    
    body{
        background: no-repeat url("images_naif/naturelaptoptitle.png");
        background-size: contain;
        margin-top: 300px;
    }
    
    #NAIF-title {
        font-family: 'Amatic SC';
        font-size: 40px;
        margin: 0px;
        padding: 0px;
        text-align: center;
      }

      header {
        font-family: 'Quicksand';
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 100px;
        font-size: 24px;
        line-height: 30px;
      }  

    .searchForm {
        height: 200px;
        width: 30%;
    }

    #max{
        width: 200px;
    }

    .discover-call-to-action{
        width: 75%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 10px;
        margin-left: 20px;
        font-size: 20px;
    }

    .initial-button {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 80px;
    }
    
    .find-parks-layout {
        display: flex;
        flex-direction: row;
        align-items: center;    
    }
}